#search{
    width: 60%;
    margin:auto;
}
#button-addon2{
background-color: rgb(26, 24, 26);
color: rgb(239, 241, 235);
}
#search-image{
    width: auto;
    height: 80%;
}
#card-id{
    background-color: rgb(244, 240, 255);
}
.card{
margin: auto;
}
#phone-features{
    text-align: left;
    background-color: beige;
}
#cross{
    position: absolute;
    top:0;
    right:0;
}
#spinner{
  text-align: center;
  display: none;
}
.btn-div{
    text-align: center;
    margin-bottom: 20px;
}